<form class="ui large form" #createVehicleForm="ngForm">
<div class="field">
  <div class="two fiels">
    <div class="field" [ngClass]="{ 'error' : apiError || brand.errors && brand.touched }">
        <input type="text" required name="brand" placeholder="Brand" [(ngModel)]="vehicle.brand" (change)="onFormUpdated()" #brand="ngModel" required>
      <div class="ui error message" *ngIf="brand.errors && brand.touched && brand.errors.required">
        Please, write a brand
      </div>
    </div>

    <div class="field" [ngClass]="{ 'error' : apiError || model.errors && model.touched }">
        <input type="text" required name="model" placeholder="Model" [(ngModel)]="vehicle.model" (change)="onFormUpdated()" #model="ngModel" required>
      <div class="ui error message" *ngIf="model.errors && model.touched && model.errors.required">
        Please, write a model
      </div>
    </div>
  </div>
</div>

<div class="field" [ngClass]="{ 'error' : apiError || fuel.errors && fuel.touched }">
    <select class="ui fluid dropdown" name="fuel" [(ngModel)]="vehicle.fuel" #fuel="ngModel" (change)="onFormUpdated()" required>
    <option value="undefined" disabled>Fuel</option>
      <option value="diesel">Diesel</option>
      <option value="gasoline">Gasoline</option>
      <option value="electric">Electric</option>
      <option value="hybrid">Hybrid</option>
      <option value="LPG">LPG</option>
    </select>
</div>
  <div class="ui error message" *ngIf="fuel.errors && fuel.touched && fuel.errors.required">
    Please, choose one option
  </div>
</form>