<main class="chat ui container">
  <header class="chat__header">
    

  </header>
  <section class="chat__messages">
    <ng-container *ngIf="messages">
      <ng-container *ngFor="let msg of messages">
        <div class="chat__bubble right" *ngIf="msg.to.id !== authUserId">
          <div class="ui segment right">
            <small>{{ msg.from.name }}</small>
            <p>{{msg.message}}</p>
          </div>
        </div>
        <div class="chat__bubble left" *ngIf="msg.to.id === authUserId">
          <div class="ui segment left">
            <small>{{ msg.from.name }}</small>
            <p>{{ msg.message }}</p>
          </div>
        </div>
      </ng-container>
    </ng-container>
    
  </section>
</main>

  <section class="chat__input">
    <form (ngSubmit)="onSubmitSendMessage(sendMessageForm)" #sendMessageForm="ngForm">
      <div class="ui action input">
        <input placeholder="Type..." type="text" name="message"  [(ngModel)]="message.message" #message="ngModel">
        <button type="submit" class="ui button submit orange">Send</button>
      </div>
    </form>
  </section>


