<main class="chat ui container">
  <section class="chat__messages">
    <ng-container *ngIf="messages">
      <ng-container *ngFor="let msg of messages">
        <div class="chat__bubble right" *ngIf="msg.to.id !== authUserId">
          <div class="ui segment right">
            <div class="ui list">
              <div class="item">
                <div class="content">
                  <span>{{msg.from.name}}</span>
                  <div class="description">
                    <small>{{msg.createdAt}}</small>
                  </div>
                </div>
                <img class="ui avatar image" src="{{msg.from.avatar}}">
              </div>
            </div>
            <!--<small>{{ msg.from.name }}</small>-->
            <p>{{msg.message}}</p>
            <!--<p>{{msg.createdAt}}</p>-->
          </div>
        </div>
        <div class="chat__bubble left" *ngIf="msg.to.id === authUserId">
          <div class="ui segment left">
            <div class="ui list">
                <div class="item">
                    <img class="ui avatar image" src="{{msg.from.avatar}}">
                    <div class="content">
                      <span>{{msg.from.name}}</span>
                      <div class="description">
                        <small>{{msg.createdAt}}</small>
                      </div>
                    </div>
                </div>
            </div>
            <!--<small>{{ msg.from.name }}</small>-->
            <p>{{ msg.message }}</p>
            <!--<p>{{msg.createdAt}}</p>-->
          </div>
        </div>
      </ng-container>
    </ng-container>
    
  </section>
</main>

  <section class="chat__input">
    <form (ngSubmit)="onSubmitSendMessage(sendMessageForm)" #sendMessageForm="ngForm">
      <div class="ui action input">
        <input placeholder="Type..." type="text" name="message"  [(ngModel)]="message.message" #message="ngModel">
        <button type="submit" class="ui button submit orange">Send</button>
      </div>
    </form>
  </section>


