<section class="hero-block">
  <article class="hero-container">
    <h1 class="ui header teal">
      MooB
      <div class="sub header">Be moober</div>
    </h1>
    <h2>Life happens while you wait for your bus</h2>
    <p>Find people who travel the same way as you</p>

    <div class="ui large buttons">
      <a class="ui teal button" [routerLink]="['/signup']">Sign up</a>
      <div class="or"></div>
      <a class="ui orange button" [routerLink]="['/login']">Log in</a>
      </div>
  </article>
</section>