<main class="ui container user-profile">
  <header>
    <img class="ui centered circular image" src="{{user.avatar}}">
    <h2 class="ui centered header"> {{user.name}}</h2>
  </header>
  
  <section class="user-profile__contact">
    <button *ngIf="user.id !== authUserId" class="ui basic centered button orange" (click)="onSendMessage(user.id)">
        <i class="icon comment outline"></i>
        Send message
    </button>
  </section>
  <section class="user-profile__vehicles" *ngIf="user.vehicles.length">
    <p>
      User's vehicles: 
    </p>
    <article *ngFor="let vehicle of user.vehicles">
        <div class="ui horizontal list">
            <div class="item">
              <div>
                <i class="circular inverted teal car icon"></i>
              </div>
              <div class="content separated">
                <div class="ui sub header">{{ vehicle.brand }} {{vehicle.model}}</div>
                {{vehicle.fuel}}
              </div>
            </div>
        </div>
      </article>
  </section>

  <!--User's commutes-->

  <sui-tabset class="user-profile__commutes" *ngIf="user.id === authUserId">
    <div class="ui pointing secondary menu">
        <a class="item" suiTabHeader="1">Your commutes</a>
        <a class="item" suiTabHeader="2">As passenger</a>
    </div>
    <div class="ui" suiTabContent="1">
      <!--If user has created commutes-->
      <section *ngIf="authUserCommutes.length; else noCommutes">
        <article class="ui segment" *ngFor="let commute of authUserCommutes">
          <p> <a [routerLink]="['/commute', commute.id]">{{commute.hrOrigin}} - {{commute.hrDestination}}</a> 
            <br>
            <small>{{commute.departureTime}}</small>
          </p>
          <div *ngIf="commute.passengers.length">
            <p>Passengers added:</p>
            <ng-container *ngFor="let passenger of commute.passengers">
              <a class="ui image label" [routerLink]="['/users', passenger.id]">
                <img src="{{ passenger.avatar }}">
                  {{ passenger.name }}
              </a>
            </ng-container>
          </div>
        </article>
      </section>
      <!--//commutes created//-->

      <!--If user has no commutes-->
      <ng-template #noCommutes>
        You have not created any commute yet. Your published commute will appear here.
      </ng-template>
      <!---->
    </div>

    <div class="ui" suiTabContent="2">
      <!--If user is a passenger-->
      <section *ngIf="authUserPassenger.length; else noPassenger">
        <article class="ui segment" *ngFor="let commute of authUserPassenger">
          <p> <a [routerLink]="['/commute', commute.id]">{{commute.hrOrigin}} - {{commute.hrDestination}}</a> 
            <br>
            <small>{{commute.departureTime}}</small>
          </p>
          <div *ngIf="commute.passengers.length">
            <p>Passengers added:</p>
            <ng-container *ngFor="let passenger of commute.passengers">
              <a class="ui image label" [routerLink]="['/users', passenger.id]">
                <img src="{{ passenger.avatar }}">
                  {{ passenger.name }}
              </a>
            </ng-container>
          </div>
        </article>
      </section>
      <!---->

      <!--If user is not a passenger-->
      <ng-template #noPassenger>
        You have not joined any travel yet.
      </ng-template>
      <!---->
    </div>
  </sui-tabset>
  
  <!---->
</main>