<section class="ui container">
  <form class="ui large form" #searchCommute="ngForm">
    <div class="ui left icon input">
      <i class="search icon"></i>
      <input [formControl]="searchControl"
                  optionsField="title"
                  type="text"
                  name="origin"
                  placeholder="Origin"
                  #origin
                  hasIcon="false">
    </div>
    
    <div class="ui left icon input">
      <i class="search icon"></i>
      <input [formControl]="searchControl"
                  name="origin" 
                  type="text"
                  placeholder="Destination"
                  #destination
                  hasIcon="false">
    </div>

    <div class="ui left icon input">
        <i class="calendar icon"></i>
        <input placeholder="Departure date"
              suiDatepicker
              [(ngModel)]="datePick"
              name="departureTime"
              (change)="onChangesCriteria()"
              [pickerUseNativeOnMobile]="true">
    
    </div>

  </form>
</section>

