<form class="ui large form" (ngSubmit)="onSubmitCreateCommute(createCommuteForm)" #createCommuteForm="ngForm">
  <div class="ui raised segment">
    <div class="field" [ngClass]="{ 'error' : apiError || origin.errors && origin.touched }">
      <div class="ui left icon input">
          <i class="globe basic icon"></i>
        <input type="text" required name="origin" [(ngModel)]="commute.origin" placeholder="Where are you going to travel from?" #origin="ngModel" required>
      </div>
      <div class="ui error message" *ngIf="origin.errors && origin.touched && origin.errors.required">
        Add an origin
      </div>
    </div>
    <div class="field" [ngClass]="{ 'error' : apiError || destination.errors && destination.touched }">
      <div class="ui left icon input">
        <i class="globe basic icon"></i>
        <input type="text" required name="destination" [(ngModel)]="commute.destination" placeholder="What is your destination?" #destination="ngModel" required>
      </div>
      <div class="ui error message" *ngIf="destination.errors && destination.touched && destination.errors.required">
        Add a destination
      </div>
    </div>

    <!-- Vehicle Selection -->
    <div *ngIf="authUser.vehicles;else vehicleForm">
      Please, choose your vehicle for this commute:
      <div class="field" [ngClass]="{ 'error' : apiError || vehicle.errors && vehicle.touched }">
          <select class="ui fluid dropdown" name="vehicle" [(ngModel)]="commute.vehicle" #vehicle="ngModel" required>
            <option [ngValue]="null" selected disabled>Select one...</option>
            <option *ngFor="let vehicle of authUser.vehicles"  [ngValue]="vehicle">{{ vehicle.brand }} {{ vehicle.model }}</option>
          </select>
      </div>
    </div>

    <!--Vehicle form-->
    <ng-template #vehicleForm>
      You don't have a vehicle yet. Please, register one here: 
      <div class="field">
        <div class="two fiels">
          <div class="field" [ngClass]="{ 'error' : apiError || brand.errors && brand.touched }">
              <input type="text" required name="brand" placeholder="Brand" [(ngModel)]="vehicle.brand" #brand="ngModel" required>
            <div class="ui error message" *ngIf="brand.errors && brand.touched && brand.errors.required">
              Please, write a brand
            </div>
          </div>
  
          <div class="field" [ngClass]="{ 'error' : apiError || model.errors && model.touched }">
              <input type="text" required name="model" placeholder="Model" [(ngModel)]="vehicle.model" #model="ngModel" required>
            <div class="ui error message" *ngIf="model.errors && model.touched && model.errors.required">
              Please, write a model
            </div>
          </div>
        </div>
      </div>

      
        <div class="field" [ngClass]="{ 'error' : apiError || fuel.errors && fuel.touched }">
            <select class="ui fluid dropdown" name="fuel" [(ngModel)]="vehicle.fuel" #fuel="ngModel" required>
              <option [ngValue]="null" selected disabled>Fuel</option>
              <option [ngValue]="diesel">Diesel</option>
              <option [ngValue]="gasoline">Gasoline</option>
              <option [ngValue]="electric">Electric</option>
              <option [ngValue]="hybrid">Hybrid</option>
              <option [ngValue]="LPG">LPG</option>
            </select>
        </div>
          <div class="ui error message" *ngIf="fuel.errors && fuel.touched && fuel.errors.required">
            Please, choose one option
          </div>
    </ng-template>
    
    
    
    <div class="field">
      <label for="">Departure date:</label>
      <div class="ui left icon input">
        <i class="calendar icon"></i>
        <input suiDatepicker
                [(ngModel)]="commute.departureTime"
                [pickerUseNativeOnMobile]="true"
                name="departureTime"
                required>
      </div>
  
    </div>
    <button type="submit" class="ui fluid large teal submit button" [ngClass]="{ 'disabled' : !createCommuteForm.valid }"><i class="add sign icon"></i> Add commute</button>
  </div>

</form>

    