<form class="ui large form" (ngSubmit)="onSubmitCreateCommute(createCommuteForm)" #createCommuteForm="ngForm">
  <div class="ui raised segment">
    <div class="field" [ngClass]="{ 'error' : apiError || origin.errors && origin.touched }">
      <div class="ui left icon input">
          <i class="globe basic icon"></i>
        <input type="text"  
          name="origin" 
          placeholder="Where are you going to travel from?" 
          [formControl]="searchControl"
          #origin
          required>
      </div>
      <div class="ui error message" *ngIf="origin.errors && origin.touched && origin.errors.required">
        Add an origin
      </div>
    </div>
    <div class="field" [ngClass]="{ 'error' : apiError || destination.errors && destination.touched }">
      <div class="ui left icon input">
        <i class="globe basic icon"></i>
        <input type="text"  
          name="destination" 
          placeholder="What is your destination?" 
          [formControl]="searchControl"
          #destination 
          required>
      </div>
      <div class="ui error message" *ngIf="destination.errors && destination.touched && destination.errors.required">
        Add a destination
      </div>
    </div>

    <!-- Vehicle Selection -->
    <div *ngIf="authUser.vehicles.length > 0">
      Please, choose your vehicle for this commute:
      <div class="field" [ngClass]="{ 'error' : apiError || vehicle.errors && vehicle.touched }">
          <select class="ui fluid dropdown" name="vehicle" [(ngModel)]="commute.vehicle" #vehicle="ngModel" required>
            <option [ngValue]="null" selected disabled>Select one...</option>
            <option *ngFor="let vehicle of authUser.vehicles" [ngValue]="vehicle">{{ vehicle.brand }} {{ vehicle.model }}</option>
          </select>
      </div>
    </div>

    <!--Vehicle form-->
    <div *ngIf="authUser.vehicles.length === 0">
      You don't have a vehicle yet. Please, register one here: 
      <app-create-vehicle (formVehicleUpdate)="onCreateVehicleFormChanges($event)"></app-create-vehicle>
    </div>
    
    
    
    
    <div class="field">
      <label for="">Departure date:</label>
      <div class="ui left icon input">
        <i class="calendar icon"></i>
        <input suiDatepicker
                [(ngModel)]="commute.departureTime"
                [pickerUseNativeOnMobile]="true"
                name="departureTime"
                required>
      </div>
  
    </div>
    <button type="submit" class="ui fluid large teal submit button" [disabled]="!createCommuteForm.valid && !isVehicleFormValid"><i class="add sign icon"></i> Add commute</button>
  </div>

</form>

    