

<article class="ui card grid">
  <div class="extra content separator">
    <i class="inverted car icon"></i>
    <span class="inverted" *ngIf="commute.vehicle">{{ commute.vehicle.brand }} {{ commute.vehicle.model }}</span>
  </div>
  <div class="ui row">
    <div class="eleven wide column">
        <small>Origin:</small> <p>{{ commute.hrOrigin }}</p>
        <small>Destination:</small> <p>{{commute.hrDestination }}</p>
        <small>Departure date:</small> <p>{{commute.departureTime }}</p>
  </div>
    <div class="five wide column author center aligned">
      <img class="ui avatar image" [src]="commute.driver.avatar">
      <p>{{commute.driver.name}}</p> 
    </div>
  </div>
  <div class="content">
    
  <!--<div class="meta">
    <span class="right floated time">{{commute.departureTime}}</span>
    <span class="category">Something here</span>
  </div>-->
    <div class="description">
      <p></p>
      <div class="ui two buttons">
        <div class="ui basic teal button" (click)="addPassenger()">Join</div>
        <div class="ui basic orange button" (click)="openDetail(commute.id)">View details</div>
      </div>
    </div>
    <span *ngFor="let passenger of commute.passengers">
      {{ passenger.name }} | 
    </span>
  </div>
  <div class="extra content separator">
  </div>
</article>
