

<article class="ui card grid commute-card" [suiTransition]="transitionController">

  <div class="extra content separator">
    <i class="inverted car icon"></i>
    <span class="inverted" *ngIf="commute.vehicle">{{ commute.vehicle.brand }} {{ commute.vehicle.model }}</span>
  </div>

  <div class="ui row commute-card__info">
    <div class="eleven wide column">
        <small>Origin:</small> <p>{{ commute.hrOrigin }}</p>
        <small>Destination:</small> <p>{{commute.hrDestination }}</p>
        <small>Departure date:</small> <p>{{commute.departureTime }}</p>
    </div>
    <div class="five wide column author center aligned commute-card__info-user">
      <a [routerLink]="['/users', commute.driver.id]">
        <img class="ui avatar image" [src]="commute.driver.avatar">
        <p class="user-name">{{commute.driver.name}}</p>
      </a> 
      <a class="ui icon" [routerLink]="['/users', authId, 'messages' ,commute.driver.id]">
        <i class="icon comments teal"></i>
      </a>
      <a class="ui icon" [routerLink]="['/users', commute.driver.id]">
        <i class="icon eye orange"></i>
      </a> 
    </div>
  </div>
  <div class="content">

  <div class="description">
    <p></p>
    <div class="ui two buttons">
      <div class="ui basic teal button" (click)="onAddPassenger()">Join</div>
      <div class="ui basic orange button" (click)="openDetail(commute.id)">View details</div>
    </div>
  </div>
  <div class="commute-card__passengers">
    <div class="meta" *ngIf="commute.passengers.length">
      <small>Other passengers:</small>
    </div>
    <ng-container *ngFor="let passenger of commute.passengers">
        <a class="ui image label" [routerLink]="['/users', passenger.id]">
            <img src="{{ passenger.avatar }}">
            {{ passenger.name }}
        </a>
    </ng-container>
  </div>
  </div>
  <div class="extra content separator">
  </div>
</article>
