<form class="ui large form" (ngSubmit)="onSubmitSignUp(signupForm)" #signupForm="ngForm">
    <div class="ui stacked segment">
      <div class="field" [ngClass]="{ 'error' : apiError || name.errors && name.touched }">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" required name="name" [(ngModel)]="user.name" placeholder="User Name" #name="ngModel" required>
        </div>
        <div class="ui error message" *ngIf="name.errors && name.touched && name.errors.email">
          We need your name :)
        </div>
      </div>
      <div class="field" [ngClass]="{ 'error' : apiError || email.errors && email.touched }">
        <div class="ui left icon input">
          <i class="mail icon"></i>
          <input type="text" required name="email" [(ngModel)]="user.email" placeholder="email" #email="ngModel">
        </div>
        <div class="ui error message" *ngIf="email.errors && email.touched && email.errors.email">
          Please, write a valid email
        </div>
      </div>
      <div class="field" [ngClass]="{ 'error' : apiError || password.errors && password.touched }">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" required name="password" [(ngModel)]="user.password" placeholder="password" #password="ngModel">
        </div>
        <div class="ui error message" *ngIf="password.errors && password.touched && password.errors.email">
          Choose a password
        S</div>
      </div>
      <button type="submit" class="ui fluid large teal submit button" [ngClass]="{ 'disabled' : !signupForm.valid }">Sign up</button>
    </div>

  </form>